.StyledBarraAcessibilidade {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}
.StyledBarraAcessibilidade button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.StyledBarraAcessibilidade button:hover {
    background-color: #0056b3;
}
.StyledBarraAcessibilidade a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.StyledBarraAcessibilidade a:hover {
    text-decoration: underline;
}
.theme-high-contrast {
    background-color: black;
    color: white;
}
