.NavBar {
    background-color:#043809;
    padding-bottom: 10px;
    
    
}
.SolidariedadeTexto{
    color: white;
    margin-right: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    
    
}
