.credit-card-form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhar os elementos no topo */
    height: 100vh;
}

.credit-card-container {
    display: flex;
    flex-direction: column; /* Empilhar os elementos verticalmente */
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Espaço entre o cartão e o input */
}


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
}

.btn-dark {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #19548f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-dark:hover {
    background-color: #1c78d3;
}
